
<section>
  <div class="header--title">
    <h1 class="title">Edit Tweet</h1>
  </div>

  <div class="edit--container">
    <%= render "form", tweet: @tweet %>
  </div>
  <br>

  <div class="header--title">
    <%= link_to "Back to tweets", tweets_path, class: 'link_to' %>
  </div>
</section>