.header {
  display: flex;
  padding: 0.5rem 0;
  flex-direction: column;
  gap: 0.5rem;
}

.nav--log{
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
  gap: 1rem;
}

.header--title{
  text-align: center;
  background-color: white;
  outline: 3px solid #EBEEF0;
  padding: 1rem 0;
  background-color: white;
  width: 100%;
  margin-bottom: 3px;
}

.title{
  color: black;
}