#tweets{
  display: flex;
  flex-direction: column;
  gap: 
}

.avatar--container{
  width: 50px;
  height: 100%;
}

.avatar{
  max-width: 50px;
  max-height: 50px;
}

.tweet--card--container{
  display: flex;
  outline: 3px solid #EBEEF0;
  background-color: white;
  padding: 0.5rem 0.5rem;
  gap: 0.75rem;
}

.link_to{
  text-decoration: none;
  color: #5B7083;
}

.header--tweet{
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0.5rem;
}

.username--title{
  color: #0F1419;
}

.tweet--content{
  margin-bottom: 0.5rem;
}

.tweet--body{
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 1rem;
}

.tweet--footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.comment--container{
  display: flex;
  gap: 10px;
}

.comment--button, 
.comment--button a{
  display: flex;
  align-items: center;
}

.comment--footer{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}


.tweet--edit form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 26px 0 16px 0;
  gap: 0.5rem;
}

.body--edit{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.body--edit textarea{
  width: 260px;
  height: 160px;
  border: none;
  resize: none;
  outline: 1px solid #767676;
  border-radius: 8px;
  padding: 0.5rem;
}

.edit--container{
  background-color: white;
}